.wordBox {
    margin: 5px;
    border: 1px solid black;
    display: inline-block;
}

#words {
    width: 200px;
}

#chartContainer {
    height: 600px;
    width: 100%;
    margin-bottom: 100px;
}

#wordTable {
    font-family: Arial;
    width: 95%;
}

#wordTable table,
th,
td {
    border-collapse: collapse;
}

#wordTable table {
    width: 100%;
    table-layout: fixed;
}

#wordTable th,
td {
    border: 1px inset black;
    width: 4em;
    word-wrap: break-word;
}

.selected {
  border: 2px solid red;
}